.suggestions{
    display: flex;
    flex-direction: column;
    width:38%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .popular-suggestions{
    border-bottom: 1px solid black;
  }
  .suggestion{
    margin-top: 20px;
    margin-left: 15px;
  }
  .suggestion-item{
    display: flex;
  }
  .suggestion-icon{
    margin-top: 23px;
  }